In [1]:
import pandas as pd
import numpy as np
import sqlite3

In [2]:
genstudio = pd.read_csv("genstudio.csv")
metadata = pd.read_csv("metadata.csv")

/home/ignat/miniconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [8]:
genstudio.head()

,SNP_Name,SNP_Index,SNP_Aux,Sample_ID,SNP,Allele1_Top,Allele2_Top,Allele1_Forward,Allele2_Forward,Allele1_AB,Allele2_AB,Chr,Position,GC_Score,GT_Score,Theta,R,B_Allele_Freq,Log_R_Ratio
0,1_10573221,1,0,202341831114R01C01,[T/C],-,-,-,-,-,-,1,10573221,0.0000,0.0000,0.942,0.413,1.0000,0.4040
1,1_10673082,2,0,202341831114R01C01,[T/C],A,A,T,T,A,A,1,10673082,0.8272,0.8076,0.039,0.968,0.0000,0.3017
2,1_10723065,3,0,202341831114R01C01,[A/G],A,A,T,T,A,A,1,10723065,0.8316,0.8107,0.011,1.577,0.0000,0.0388
3,1_11337555,4,0,202341831114R01C01,[A/G],A,A,T,T,A,A,1,11337555,0.3781,0.7925,0.045,1.104,0.0000,0.2761
4,1_11407894,5,0,202341831114R01C01,[A/G],G,G,G,G,B,B,1,11407894,0.9038,0.8670,0.983,1.122,0.9994,0.0022

In [7]:
genstudio.SNP_Aux.unique()

array([0])

In [9]:
metadata.head()

          dna_chip_id breed sex
0  202290551164R09C01     Д  Хр
1  202341831114R02C01     Д  Хр
2  202341831114R03C01     Д  Хр
3  202341831114R04C01     Д  Хр
4  202290551140R01C01     Д  Хр

In [5]:
genstudio = genstudio.drop('Unnamed: 0', axis=1)
metadata = metadata.drop('Unnamed: 0', axis=1)